/* Nhãn trước các ô nhập */
.input-label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: normal;
  color: #717171;
  text-align: left;
  font-weight: bold;
}

/* Căn chỉnh ô nhập */
.login-input {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  box-sizing: border-box;
}

/* Container chứa form */
.login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  margin-top: 0;
}
.login-container h2{
  color: white;
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 20px;
}

/* Form đăng nhập */
.login-form {
  background: #fff;
  padding: 30px 20px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  width: 350px;
  text-align: center;
}

/* Tiêu đề form */
.login-form h2 {
  margin-bottom: 20px;
  /* margin-top: 0; */
  font-size: 24px;
  color: #333;
}

/* Nút submit */
.submit-button {
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.submit-button:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

/* Dòng chữ đăng ký */
.register-text {
  margin-top: 15px;
  font-size: 14px;
  color: #666;
}

.register-text a {
  color: #4facfe;
  text-decoration: none;
  font-weight: bold;
}

.register-text a:hover {
  text-decoration: underline;
}

/* Thông báo lỗi */
.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 0;
  text-align: left;
}
